@model MyWebSite.Models.Kategoriler

@{
    ViewBag.Title = "KategorilerDetails";
}

<h2>Kategorileri Detayı</h2>

<div>
    <h4>Kategoriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KategoriIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriIcerik)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "KategorilerEdit", new { id = Model.KategorId }) |
    @Html.ActionLink("Listeye Geri Dön", "KategorilerIndex")
</p>
